body {
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_screen {
    width: 360px;
    height: 780px;
    max-width: 360px;
    max-height: 780px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

.color_choice_area {
    flex: 1;
    display: flex;
    border-radius: 20px;
}

.color_choice {
    flex: 1;
    border-radius: 0 0 30px 30px;
}

.red_color {
    background-color: rgb(250, 80, 74);
}

.orange_color {
    background-color: rgb(255, 190, 81);
}

.yellow_color {
    background-color: rgb(253, 255, 76);
}

.green_color {
    background-color: rgb(74, 255, 70);
}

.blue_color {
    background-color: rgb(77, 76, 255);
}

.violet_color {
    background-color: rgb(200, 3, 209);
}

.message_area {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txtMessage {
    font-size: 24pt;
}

.guess_area {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.guess {
    flex: 1;
    margin: 2.5px 5px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}

.guess_0 {
    opacity: 1;
}

.hint_box {
    height: 100%;
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    display: none;
    justify-content: flex-start;
    align-items: center;

}

.hint_box_0 {
    opacity: 1;
}

.txt_hint {
    color: white;
    text-transform: uppercase;
    font-size: 10pt;
    padding-left: 10px;
}

.guess_box {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex: 4;
}

.guess_box>div {
    height: 35px;
    width: 35px;
    background-color: #e6e6e6;
    border-radius: 100%;
}