body {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.play_screen {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

.color_choice_area {
    flex: 1;
    display: flex;
    border-radius: 20px;
    align-items: flex-end;
    padding-bottom: 10px;
}

.color_choice {
    flex: 1;
    margin: 5px;
    border-radius: 30px;
}

.red_color {
    background-color: rgb(239, 68, 56);
}

.orange_color {
    background-color: rgb(248, 152, 29);
}

.yellow_color {
    background-color: rgb(254, 234, 58);
}

.green_color {
    background-color: rgb(77, 175, 78);
}

.blue_color {
    background-color: rgb(71, 143, 204);
}

.violet_color {
    background-color: rgb(144, 62, 151);
}

.message_area {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.txtMessage {
    font-size: 24pt;
    margin-bottom: 0;
}

.guess_area {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.guess {
    flex: 1;
    margin: 2.5px 5px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}

.guess_0 {
    opacity: 1;
}

.hint_box {
    height: 100%;
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    display: none;
    justify-content: center;
    align-items: center;


}

.hint_box_0 {
    opacity: 1;
}

.txt_hint {
    color: white;
    text-transform: uppercase;
    font-size: 10pt;
    text-align: center;
}

.guess_box {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex: 4;
}

.guess_box>div {
    height: 35px;
    width: 35px;
    background-color: #e6e6e6;
    border-radius: 100%;
}

@media only screen and (min-width: 426px) {
    main {
        background-color: white;

    }

    .play_screen {
        width: 360px;
        height: 780px;
        max-width: 360px;
        max-height: 780px;
    }
}